.links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin: 2rem auto;
  width: 300%;
  height: auto;
  object-fit: cover;

}

.card img {
  width: 1000px;
  height: 650px;
  padding-left: 10px;
  margin: auto
}

.food-cards a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.food-cards a:hover {
  color: burlywood;
}

@media (min-width: 768px) {
  .links {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}