/* Header */
#main-header img {
  width: 300px;
  height: 200px;
}

/* Nav */
#main-nav {
  position: absolute;
  top: 5%;
  right: 5%;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  text-align: right;
  color: black;
}

nav a:hover {
  color: burlywood;
}

#toggle-nav {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 2em;
}

#signUp {
  background: green;
  padding-right: 20px;
  border-radius: 60px;
  display: inline-block;
}

#signUp a {
  color: white;
}

#signUp a:hover {
  color: burlywood;
}

nav ul {
  padding-right: 5px;
}

nav li {
  list-style-type: none;
}

#main-nav .hide-small {
  display: none;
}

@media screen and (max-width: 768px) {
  #main-nav {
    position: static;
    width: 100%;
  }

  #toggle-nav {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav li {
    text-align: center;
  }

  nav a {
    padding: 12px 0;
    border-bottom: 1px solid #eee;
  }


  #signUp {
    display: block;
    text-align: center;
  }

  #main-nav .hide-small {
  display: flex;
}


}